---
# Based on ansible-lint config
extends: default

ignore: |
  .tox/
  .venv/
  .github/
  .gitlab/
rules:
  braces:
    max-spaces-inside: 1
    level: warning
  brackets:
    max-spaces-inside: 1
    level: warning
  colons:
    max-spaces-after: -1
    level: warning
  commas:
    max-spaces-after: -1
    level: warning
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines:
    max: 3
    level: warning
  hyphens:
    level: error
  indentation: disable
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
  trailing-spaces: disable
  truthy:
    allowed-values: ["yes", "no", "true", "false", "True", "False"]
    level: error
