<!DOCTYPE html>
<html>
<head>
<title>Welcome to Cherubits Home Intranet!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Cherubits Home Intranet!</h1>
<table>
  <tr>
    <th>Domain</th><td>{{ ansible_fqdn }}</td>
  </tr>
  <tr>
    <th>MAC</th><td>{{ ansible_default_ipv4.macaddress }}</td>
  </tr>
  <tr>
    <th>IP</th><td>{{ ansible_default_ipv4.address }}</td>
  </tr>
  <tr>
    <th>Network</th><td>{{ ansible_default_ipv4.network }}</td>
  </tr>
  <tr>
    <th>Netmask</th><td>{{ ansible_default_ipv4.netmask }}</td>
  </tr>
  <tr>
    <th>Gateway</th><td>{{ ansible_default_ipv4.gateway }}</td>
  </tr>
</table>

<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>
<p>For online documentation and support please refer to <a href="http://nginx.org/">nginx.org</a>.<br/>Commercial support is available at<a href="http://nginx.com/">nginx.com</a>.</p>
<p><em>Thank you for using nginx.</em></p>
</body>
</html>


